<footer class="site_footer">
  <div class="site_footer-container">
    <div class="site_footer-left site_navigation--item">
      <a href="{{ shop.url }}">
        <img src="{{ section.settings.footer_image | image_url }}" alt="Adnan Mansuri Logo">
      </a>
    </div>
    <div class="site_footer-right site_navigation--item">
      <ul class="site_footer-nav">
        <li>
          <a href="#Home" class="has_active--effect">Home</a>
        </li>
        <li>
          <a href="#services" class="has_active--effect">Services</a>
        </li>
        <li>
          <a href="#projects" class="has_active--effect">Projects</a>
        </li>
        <li>
          <a href="#skills" class="has_active--effect">Skills Set</a>
        </li>
      </ul>
      <ul class="site_footer-nav">
        <li class="site_footer-nav--links contact-section">
            <h4 class="site_footer--title">Contact me</h4>
        </li>
        <li class="site_footer-nav--links contact-section">
            <a href="tel:+91-834-7693-235" class="has_active--effect">+91-834-7693-235</a>
            <span><img src="{{ arrow.webp | asset_url }}" alt="Arrow Icon"></span>
        </li>
        <li class="site_footer-nav--links contact-section">
            <a href="mailto:hello@adnanmansuri.com" class="has_active--effect">hello@adnanmansuri.com</a>
            <span><img src="{{ arrow.webp | asset_url }}" alt="Arrow Icon"></span>
        </li>
      </ul>
    </div>
    <div class="site_footer-bottom site_navigation--item">
     <p>Copyright © <span id="year">2024</span> Adnan Mansuri. All rights reserved.</p>
     <a href="#" class="has_active--effect"><img src="{{ linkdin.svg | asset_url }}" alt="Adnan Mansuri's Linkedin Profile"></a>
    </div>
  </div>
</footer>


{% schema %}
{
  "name": "Footer Settings",
  "settings": [
    {
      "type": "image_picker",
      "id": "footer_image",
      "label": "Footer Logo"
      
    }
  ]
}
  
{% endschema %}
