<section
  id="projects"
  class="{% if section.settings.enable_parallax %}has_scroll--speed__section{% endif %} site_content-container"
  {% if section.settings.enable_parallax %} data-disable-scroll-animation="{{section.settings.media_query | default: 768}}" {% endif %}
>
  <div class="projects_container--main">
    <div class="projects_content">
      <div class="project_title site_title--container">
        <h2 class="site_section--title">{{ section.settings.title }}</h2>
        <p class="site_section--decs">{{ section.settings.description }}</p>
      </div>
      <div class="project_content--items">
        {% for block in section.blocks %}
          <div
            class="project_content-item {% if section.settings.enable_parallax %}has_scroll--speed__element{% endif %}"
            {% if section.settings.enable_parallax %} data-scroll-speed="{{ block.settings.scroll_speed }}" {% endif %}
          >
            <div class="project_img--main">
              {% if block.settings.project_image != blank %}
                <img
                  src="{{ block.settings.project_image | image_url }}"
                  alt="{{ block.settings.project_name | default: 'Project Image' }}"
                  class="project_img"
                >
              {% endif %}
            </div>
            <div class="project_text--area">
              <div class="project_text--content">
                <div class="project_area--name">
                  {% if block.settings.project_name != blank %}
                    <h3 class="project_name">{{ block.settings.project_name }}</h3>
                  {% endif %}
                </div>
                <div class="project_area--tag">
                  {% if block.settings.project_tag != blank %}
                    <p class="project_tag">{{ block.settings.project_tag }}</p>
                  {% endif %}
                </div>
              </div>
              <div class="project_link--area">
                {% if block.settings.project_link != blank %}
                  <a href="{{ block.settings.project_link }}" class="project_link--arrow">
                    <img src="{{ 'arrow.webp' | asset_url }}" alt="Arrow">
                  </a>
                {% endif %}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Projects",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Section Title",
      "default": "Section Heading"
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "Section Description",
      "default": "Section Description, Type whatever you want...!!"
    },
    {
      "type": "checkbox",
      "id": "enable_parallax",
      "label": "Enable Card Parallex",
      "info": "Card Will Move, Based On Your Scroll.",
      "default": true
    },
    {
      "type": "number",
      "id": "media_query",
      "label": "Stop Movement",
      "info": "Stop Movement From Your Desier Device Screen"
    }
  ],
  "blocks": [
    {
      "type": "project",
      "name": "Project Card",
      "settings": [
        {
          "type": "image_picker",
          "id": "project_image",
          "label": "Project Image"
        },
        {
          "type": "text",
          "id": "project_name",
          "label": "Project Name",
          "default": "Lorem.inc"
        },
        {
          "type": "text",
          "id": "project_tag",
          "label": "Project Tag",
          "default": "Design Agency"
        },
        {
          "type": "url",
          "id": "project_link",
          "label": "Project Link",
          "default": "/"
        },
        {
          "type": "range",
          "id": "scroll_speed",
          "label": "Movement Speed",
          "default": 3.5,
          "min": 0.5,
          "max": 10,
          "step": 0.5,
          "info": "Product Cards Speed Movements"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Projects Section",
      "category": "Section"
    }
  ]
}
{% endschema %}
